[defaults]
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent

private_key_file = ../terraform/modules/ec2/eks-key
remote_user = ubuntu

[inventory]
# Keeps AWS dynamic inventory plugin active
enable_plugins = amazon.aws.aws_ec2, host_list, script, auto, yaml, ini

[ssh_connection]
ssh_args = -o IdentitiesOnly=yes -o ControlMaster=auto -o ControlPersist=60s